body {
  background-color: #EDFFE3;
  margin-top: 10px;
}

.container {
  background-color: #EDFFE3;
}

.Home {
  text-align: center;
}

.Img {
  top: 1000px; left: 250px;

}

.Title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.map {
  margin-bottom: 50px;
}

.box {
  background-color: #008037;
}